@media screen and (max-device-width:768px), screen and (max-width:768px) {

	.caption span.border {
		font-size: 10px;
	}

	body {
		width: 100%;
		font-size: 16px;
		height: auto;
		background-image: none!important;
	}
	
	h1 {font-size: 300%;}
	h2,h3,h4 {font-size: 200%;}

	div {
		overflow-x: hidden;
		overflow-y: scroll;
  		-webkit-overflow-scrolling: touch; 
		background-image: none!important;
	}

	.bgimg-1 {
		width: 100%;
		height: auto;
		text-align: center;
		padding: 30px;
		background-image: none!important;
	}

	#myBtn {
		display: none;
	}
}

* {
	-moz-box-sizing: border-box;
    	box-sizing: border-box;
  	margin: 0;
}

body, html {
	height: 100%;
	font-family: 'Muli', sans-serif;
	background: #DFDCDE;
}

h1, h2, h3, h4 { font-weight: 400; }

h1 {
	text-transform: uppercase;
	font-size: 2.4rem;
	padding: 40px;
}

h3 {
	color: #111;
}

a {
	color: #572233;
	text-decoration: none;
	opacity:.8;
}

a:hover {
	font-weight: 700;
}

.caption {
	position: absolute;
	left: 0;
	top: 20%;
	width: 100%;
	text-align: center;
	color: #000;
}

.caption span.border {
	background-color: #572233;
	color: #fff;
	padding: 18px;
	font-size: 25px;
	letter-spacing: 3px;
}

.bgimg-1 {
  	background-image: url("Optimized-Rutkin_9897.jpg");
  	height: 100%;
  	opacity: 0.8;
  	background-position: center;
 	background-repeat: no-repeat;
	background-size: cover;
}

iframe { 
	margin: 0 auto; 
	padding: 30px;
	border: 0;
	frameborder: 0;
	display: block;
}

div {
	width: 100%;
	height: auto;
	text-align: center;
	padding: 30px;
}

div.third {
	background-color: #975a6e;
}

div.third a {
	color: #DFDCDE;
}

div.third a:hover {
	color: #e4eddb;
 	font-weight: bold;
}

div #gif {
	height: auto;
	width: auto;
}

#myBtn {
	position: fixed; /* Fixed/sticky position */
	bottom: 20px; /* Place the button at the bottom of the page */
	right: 30px; /* Place the button 30px from the right */
	z-index: 99; /* Make sure it does not overlap */
	border: none; /* Remove borders */
	outline: none; /* Remove outline */
	color: white; /* Text color */
	cursor: pointer; /* Add a mouse pointer on hover */
	padding: 15px; /* Some padding */
	border-radius: 5px; /* Rounded corners */
	font-size: 18px; /* Increase font size */
}

#myBtn:hover {
	background-color: #572233;
}

i {
	border: solid black;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
}

.down {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}
